<h1>{{title}}</h1>
<p>
<form action="/configWorksheet">
    <label for="topics">Select Worksheet Topic:</label>
    <select id="topics" name="topics" required>
        <option value="Addition">Addition</option>
        <option value="Subtraction">Subtraction</option>
        <option value="Multiplication">Multiplication</option>
        <option value="Division">Division</option>
    </select>
    <br>
    <label for="questions">Number of Questions:</label>
    <input type="number" name="questions" min="1" max="100" required>
    <br>
    <label for="max">Max Values Generated:</label>
    <input type="number" name="max" min="minV" max="1000" required>
    <br>
    <input type="submit" value="Generate Worksheet">
</form>
<button onclick="loadHome()">Home</button>
</p>
<script>
    function loadHome() {
        location.replace("/home")
    }
</script>
