<h1>Worksheets Stored on MongoDB</h1>
<p>
<ol>
    {{#each worksheets}}
    <li>Worksheet ID: {{this._id}} <br>
        Worksheet Name: {{this.name}}</li>
    <button name="worksheet_{{this._id}}" onclick="loadWorksheet()">Render Worksheet</button>
    {{/each}}
</ol>    
<br>
<button onclick="loadHome()">Home</button>    
</p>
<script>
    function loadHome() {
        location.replace("/home")
    }
</script>