<h1>{{title}}</h1>
<p>
<ol>
    {{#each results}}
    <li>{{this.name}}, {{this.address}}</li>
    {{/each}}
</ol>    
<br>
<button onclick="loadHome()">Home</button>    
</p>
<script>
    function loadHome() {
        location.replace("/home")
    }
</script>