<h1>{{title}}</h1>
<p><button onclick="loadConfigWorksheet()">Configure Worksheet</button></p>
<script>
    function loadConfigWorksheet() {
        location.replace("/configWorksheet")
    }
</script>