<h1>{{title}}</h1>
<p><button onclick="loadConfigWorksheet()">Configure Worksheet</button>
<button onclick="sendDb()">Send Db</button></p>
<p>
</p>
<script>
    function sendDb() {
        location.replace("/storeData")
    }
    function loadConfigWorksheet() {
        location.replace("/configWorksheet")
    }
</script>