<ul class="NavBar">
    <li><a href="/home">Home</a></li>
    <li><a href="/viewWorksheets">Worksheets</a> </li>
    <li><a href="/configWorksheet">Configure Worksheet</a> </li>
    <li><a href="/scores">Scores</a> </li>
    <li><a href="/profile">Profile</a></li>
</ul><br><br>
<h1>Profile Page For {{user.userName}}</h1>
<p>Account Type : {{user.type}}<br>
Email : {{user.email}}</p>
<form action="/profile" method="POST">
<input type="submit" Value="Delete Account">
</form>
<button onclick="logout()">Logout</button>
<script>
    function logout() {
        location.replace("/logout");
    }
</script>