<h1>Welcome to the Math Worksheet Generator Web App</h1>
<p><button onclick="loadSignup()">Signup</button>
    <button onclick="loadLogin()">Login</button></p>
<p>
</p>
<script>
    function loadSignup() {
        location.replace("/signup")
    }
    function loadLogin() {
        location.replace("/login")
    }
</script>