<h1></h1>
<p name="redirect">
If you already have an account<button onclick="loadLogin()">Login</button><br>
If you're new<button onclick="loadSignup()">Sign up</button>
</p>
<script>
    function loadLogin() {
        location.replace("/login")
    }
    function loadSignup() {
        location.replace("/signup")
    }
</script>