<h1>Welcome to the Signup page</h1>
<div class="signup_container">
    <h2 align="center">Signup Form</h2>
    <form action="/signup" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <br>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <br>
        </div>
        <div>
            <label for="pwd">Password:</label>
            <input type="password" name="pwd" id="pwd" required>
            <br>
        </div>
        <label for="topics">Select Account Type:</label>
        <select id="type" name="type" required>
            <option value="Teacher">Teacher</option>
            <option value="Student">Student</option>
        </select>
        <input align="center" type="submit" value="Signup">
    </form>
</div>
<a href="/login">login</a>