<h1>Welcome to the Signup page</h1>
<div class="login_container">
    <h2 align="center">Login Form</h2>
    <form action="">
        <label for="userName">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="pwd">Password:</label>
        <input type="password" name="pwd" id="pwd" required>
        <br>
        <input align="center" type="submit" value="Submit">
    </form>
</div>