<ul class="NavBar">
    <li><a href="/home">Home</a></li>
    <li><a href="/viewWorksheets">Worksheets</a> </li>
    <li><a href="/myScores">My Scores</a> </li>
    <li><a href="/profile">Profile</a></li>
</ul><br><br>
<h1>{{title}}</h1>
<h2>Weclome {{name}} to the Math Worksheet Generator</h2>
<h3>User Type: {{type}}</h3>
