<ul class="NavBar">
    <li><a href="/home">Home</a></li>
    <li><a href="/generateWorksheet">Generate Worksheet</a></li>
    <li><a href="/viewWorksheets">Worksheets</a> </li>
    <li><a href="/myScores">My Scores</a> </li>
    <li><a href="/profile">Profile</a></li>
</ul><br><br>
<h1>{{title}}</h1>
<h2>Weclome {{name}} to the Math Worksheet Generator</h2>
<h3>User Type: {{type}}</h3>
<p>
This is a math worksheet Generator Web App <br>
designed to promote remote learning. This app <br> 
offers a range of different worksheets that can be <br>
automcaticcally generated in an instant.<br>
Navigate to "Worksheets" to search or find a worksheet created by a Teacher.<br>
Or Navigate to Generate Worksheet to create a unique worksheet to practice with.<br>
Navigate to Profile to Logout
</p>
