body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table { 
  width: 25%;
  table-layout: fixed;
}

table,
    th,
    td {
        border: 1px solid black;
        text-align: center;
    }

th {
    height: 50;
    background-color: #4CAF50;
    color: white;
  }

input[type=number] {
   width: 80px;
}

.align-left {
  margin-left:5em;
}

  