body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
table { 
  width: 25%;
  table-layout: fixed;
}
table,
    th,
    td {
        border: 1px solid black;
        text-align: center;
}
th {
    height: 50;
    background-color: #4CAF50;
    color: white;
}
input[type=number] {
   width: 80px;
}
.align-left {
  margin-left:5em;
}

.signup_container {
  background-color: rgba(211, 211, 211, 0.37);
  width: 300px;
  border: 10px solid #ff9a02e8;
  padding: 30px;
  margin: 20px;
}

.login_container {
    background-color: rgba(211, 211, 211, 0.37);
    width: 300px;
    border: 10px solid #47fa00e8;
    padding: 30px;
    margin: 20px;
}

.info {
  background-color: rgba(211, 211, 211, 0.37);
    width: 300px;
    border: 10px solid black;
    padding: 30px;
    margin: 20px;
}

.NavBar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(2, 2, 2);
}
.NavBar 
  li  { 
    border-right: 2px solid white;
    list-style-type: none;
    float: left;
}
.NavBar li:last-child {
  border-right: none;
}
.NavBar 
li 
a {
  background-color: rgb(2, 2, 2);
  display: block;
  color: white;
  text-align: center;
  padding: 28px 32px;
  text-decoration: none;
}
.NavBar li a:hover {
  background-color: rgb(126, 2, 2);
}